<!doctype html>
<html lang="en">
  <head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
    </style>
  </head>
  
  <body>
    {% include 'navbar/navbar.html' %}

    <div class="row m-0 p-0">
        <div class="col-2">
            {% include 'navbar/side_navbar.html' %}
        </div>
        <div class="col-10">
          <div class="container"> 
            <div class="carousel p-3" data-ride="carousel">
              {% if current_user.is_authenticated %}
                <center style="transform: translateY(-50%);">
                  <form method="GET" action='{{ url_for("dashboardHome") }}'>
                    <div class="mt-3" style="margin: auto;">
                      <div style="flex: auto;"> 
                        <input class="form-control" name="name" type="text" style="max-width: 400px;" placeholder="Search Community">
                              <!-- <button type="submit" class="btn btn-primary">Cari</button>                      -->
                      </div>
                    </div>
                  </form>
                </center>
              {% endif %}
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-fluid d-block" src="{{ url_for('static',filename='images/Cari komunitasmu disini (1) 1.png') }}">
              </div>
            </div>
          </div> 
              
          {% if komunitas != 'fail' and current_user.is_authenticated %}
            {% for val in komunitas %}
            <div class="pb-10">
              <div class="card m-3">
                <div class="row m-3">
                  <div class="col-lg-3">
                    <center class="pb-3">
                      <a href="{{ url_for('memberViewCommunity', id=val.id) }}"><img class="img-fluid rounded" src="{{ url_for('static',filename='images/basket.jpg') }}" style="max-width: 100px;"></a>
                    </center>
                    <center>
                      <a href="{{ url_for('memberViewCommunity', id=val.id) }}"><strong>{{ val.name }}</strong></a>
                    </center>
                    </div>
                    <div class="col-lg-9">
                      <p class="row">{{val.description}}</p>
                      <p class="row">Kota: {{ val.city }}</p>
                      <p class="row">Status: {{ 'Public' if val.is_public else 'Private' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div> 
        </div>

    </div>
    <div style="height:300px"></div>

    <div>
      {% include 'navbar/footer.html' %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>