<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home | Komuniku</title>
  </head>
  <body>
    {% include 'navbar/navbar.html' %}
    <div class="container-float">
    <!-- Page content -->
      <div class="row">
        <nav class="col-md-3 d-none d-md-block sidebar nav-pills nav-fill pl-3" style="border-right:1px solid black;">
              {% include 'navbar/side_navbar.html' %}
        </nav>
        
        <div class="container">
          <div class="row">
            <div class="container p-5">
              <center><input class="form-control" type="text" style="max-width: 400px;" placeholder="Search"></center>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10  mr-3 ml-3">

              <!-- Rekursif -->
              <div class="card m-3">
                <div class="row m-3">
                  <div class="col-lg-3">
                    <center class="pb-3">
                      <a href="{{ url_for('index') }}"><img class="img-fluid rounded" src="{{ url_for('static',filename='images/basket.jpg') }}" style="max-width: 100px;"></a> <!-- Profil Komunitas  -->
                    </center>
                    <center>
                      <strong><a href=" " style="color: black;">Komunitas Basket Jakarta Selatan</a></strong> <!-- Nama Komunitas -->
                    </center>
                  </div>
                  <div class="col-lg-9">
                    <strong class="row">REMINDER!</strong> <!-- Judul Postingan -->
                    <text class="row">Weekend ini ada jadwal main yaa!<br> <!-- Isi Postingan -->

                      Hari : Sabtu, 8 April 2022<br>
                      Pukul : 18.30 - selesai<br>
                      Tempat : Home Court Basketball, Pondok Labu
                    </text>
                  </div>
                </div>
              </div>
              <div class="card m-3">
                <div class="row m-3">
                  <div class="col-lg-3">
                    <center class="pb-3">
                      <a href="{{ url_for('index') }}"><img class="img-fluid rounded" src="{{ url_for('static',filename='images/basket.jpg') }}" style="max-width: 100px;"></a>
                    </center>
                    <center>
                      <strong>Komunitas Basket Jakarta Selatan</strong>
                    </center>
                  </div>
                  <div class="col-lg-9">
                    <strong class="row">REMINDER!</strong>
                    <text class="row">Weekend ini ada jadwal main yaa!<br>

                      Hari : Sabtu, 8 April 2022<br>
                      Pukul : 18.30 - selesai<br>
                      Tempat : Home Court Basketball, Pondok Labu
                    </text>
                  </div>
                </div>
              </div>
              <!-- ---- -->
            </div>  
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>