<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home | Komuniku</title>
  </head>
  <body>
    {% include 'navbar/navbarLogout.html' %}
    <div class="container-float">
    <!-- Page content -->
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar nav-pills nav-fill pl-3">
          <div class="col pt-5" style="text-align: center;">
            <img class="img-fluid rounded" src="{{ url_for('static',filename='images/basket.jpg') }}" style="max-width: 120px;"> <!-- Profil User -->
          </div>
          <div class="col p-3 pb-5" style="text-align: center;">
            <strong>SILVIA AYU ARDYANI</strong> <!-- Nama Profil -->
          </div>
          <ul class="nav">
            <li class="nav-item m-2">
              <a class="nav-link active" href="#">
                <strong>MY PROFILE</strong>
              </a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link" href="#">
                <strong>MY COMMUNITY</strong>
              </a>
            </li>
          </ul>
        </nav>
        
        <div class="container">
          <div class="row">
            <div class="container p-5">
              <h2><strong>My Profile</strong></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 pl-5">
              <div class="form-group">
                <strong>Full Name</strong>
                <input class="form-control" value="Full Name">
              </div>
              <div class="form-group">
                <strong>Phone Number</strong>
                <input class="form-control" value="Full Name">
              </div>
              <div class="form-group">
                <strong>Location</strong>
                <input class="form-control" value="Full Name">
              </div>
            </div>
            <div class="col-lg-6 pr-5">
              <div class="form-group">
                <strong>Email Address</strong>
                <input class="form-control" value="Full Name" disabled>
              </div>
              <div class="form-group">
                <strong>Birth Day</strong>
                <input class="form-control" type="date" value="02/10/1998">
              </div>
              <div class="form-group">
                <strong>Occupation</strong>
                <input class="form-control" value="Full Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="container p-5">
              <strong>My Membership</strong><br>
              <button type="button" class="btn btn-primary mt-2" disabled>Free Membership</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>