<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home | Komuniku</title>
  </head>
  <body>
    {% include 'navbar/navbar.html' %}
    <div class="container-float">
    <!-- Page content -->
      <div class="row bg-light">
        <div class="col-2">
            {% include 'navbar/side_navbar.html' %}
        </div>
        <div class="col-10">
        <div class="container">
          <div class="row m-3">
            <div class="carousel" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="..." alt="First slide" style="height: 200px;">
                </div>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-6">
              <h4 style="color: #0E0542;"><strong>{{komunitas.name}}</strong></h4>
              <text>{{ 'Public' if komunitas.is_public else 'Private' }}</text><br>
              <text>{{komunitas.city}}</text>
            </div>
            {% if not isaMember %}
            <div class="col-6" style="text-align: right;">
                <form action="{{url_for('joinKomunitas')}}" method="POST" id="joinKomunitas">
                  <input type="text" name="id_komunitas" value="{{ komunitas.id }}" hidden />
                  <button type="button" onclick="$('#joinKomunitas').submit()" class="btn" style="width: 200px; background: #0075A7; color: white;">Join</button>
                </form>
            </div>
            {% endif %}
          </div>
          <ul class="nav m-3 p-1 border-bottom" id="tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="about-tab" data-toggle="pill" href="#about" role="tab" aria-controls="about" aria-selected="true">ABOUT</a>
            </li>
            {% if not komunitas.is_public %}
            <li class="nav-item">
              <a class="nav-link" id="discussion-tab" data-toggle="pill" href="#discussion" role="tab" aria-controls="discussion" aria-selected="false">DISCUSSION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="member-tab" data-toggle="pill" href="#member" role="tab" aria-controls="member" aria-selected="false">MEMBER</a>
            </li>
            {% endif %}
            {% if current_user.role == 'community' %}
            <li class="nav-item">
              <a class="nav-link" id="pay-tab" data-toggle="pill" href="#pay" role="tab" aria-controls="pay" aria-selected="false">PAY</a>
            </li>
            {% endif %}
          </ul>

          <div class="tab-content" id="tabContent">
            {% with about=komunitas.description, idKomunitas=komunitas.id %}
              <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">{% include 'community/about.html' %}</div>
            {% endwith %}
            {% with posts=posts, idKomunitas=komunitas.id %}
              <div class="tab-pane fade" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">{% include 'community/discussion.html' %}</div>
            {% endwith %}
            <div class="tab-pane fade" id="member" role="tabpanel" aria-labelledby="member-tab">{% include 'community/member.html' %}</div>
            <div class="tab-pane fade" id="pay" role="tabpanel" aria-labelledby="pay-tab">{% include 'community/pay.html' %}</div>
          </div>

        </div>
      </div>
    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>