<div class="row m-3 mt-4">
  <div class="container">
    <div class="card mr-5 ml-5 p-3" >
      <div class="card-header bg-white">
        <strong>ABOUT THIS COMMUNITY</strong>
        <button type="button" class="btn border float-right bg-white" data-toggle="modal" data-target="#myModal"><i class="fas fa-solid fa-pen"></i></button>
      </div>
      <div class="card-body">
        <text>{{komunitas.description}}</text>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <strong class="modal-title">About This Community</strong>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form method='POST' action="{{ url_for('ubahDeskripsi') }}" class="form-box container">
            <div class="form-group">  
              <input type="text" hidden name="idKomunitas" value="{{idKomunitas}}"/>
              <textarea type="text" class="form-control" id="editAboutCommunity" name="description"> {{about}} </textarea>
            </div>
            <button type="submit" class="btn float-right">Edit</button>
          </form>
        </div>
      </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />