<div class="row m-3 mt-4">
  <div class="container mt-3">
    <center>
      <div class="media border p-3 mr-5 ml-5 mb-3 bg-white" style="max-width: 500px;">
        <img src="..." class="mr-3 mt-3 rounded-circle bg-dark" style="width:60px;">
        <form method="POST" action="{{url_for('createPost')}}" class="form-box container">
          <div class="form-group">
            <textarea name="post" class="form-control" id="posting" placeholder="Write Something..."></textarea>
            <input type="text" hidden name="idKomunitas" value="{{idKomunitas}}"/>
          </div>
          <button type="submit" class="btn btn-active float-right">Post</button>
        </form>
      </div>
    </center>
    {% for post in posts %}
    <div class="media border p-3 mr-5 ml-5 mb-3 bg-white">
      <img src="..." class="mr-3 mt-3 rounded-circle bg-dark" style="width:60px;">
      <div class="media-body">
        <div class="row">
          <div class="col">
            <text><strong>{{post.name}}</strong></text><br>
            <text><small><i>Posted on {{post.created_at}}</i></small></text>
            <p>{{post.post}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    {% endfor %}
    <!--
    <div class="media border p-3 mr-5 ml-5 mb-3 bg-white">
      <img src="..." class="mr-3 mt-3 rounded-circle bg-dark" style="width:60px;">
      <div class="media-body">
        <div class="row">
          <div class="col">
            <text><strong>Jane Doe</strong></text><br>
            <text><small><i>Posted on February 20 2016</i></small></text>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row border-top border-bottom p-1 mr-3">
          <div class="col-6">
            <center><button type="button" class="btn bg-white"><i class="fas fa-solid fa-thumbs-up pr-1"></i>Like</button></center>
          </div>
          <div class="col-6">
            <center><button type="button" class="btn bg-white"><i class="fas fa-solid fa-comment pr-1"></i>Comment</button></center>
          </div>
        </div>
        <div class="media p-3">
          <img src="..." class="mr-3 mt-3 rounded-circle bg-dark" style="width:45px;">
          <div class="media-body">
            <text><strong>Jane Doe</strong></text><br>
            <input class="form-control bg-light mt-2" placeholder="Write Something..." >
          </div>
        </div>  
      </div>
    </div>

    <div class="media border p-3 mr-5 ml-5 mb-3 bg-white">
      <img src="..." class="mr-3 mt-3 rounded-circle bg-dark" style="width:60px;">
      <div class="media-body">
        <div class="row">
          <div class="col">
            <text><strong>Jane Doe</strong></text><br>
            <text><small><i>Posted on February 20 2016</i></small></text>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row border-top border-bottom p-1 mr-3">
          <div class="col-6">
            <center><button type="button" class="btn bg-white"><i class="fas fa-solid fa-thumbs-up pr-1"></i>Like</button></center>
          </div>
          <div class="col-6">
            <center><button type="button" class="btn bg-white"><i class="fas fa-solid fa-comment pr-1"></i>Comment</button></center>
          </div>
        </div>
        <div class="media p-3">
          <img src="..." class="mr-3 mt-3 rounded-circle bg-dark" style="width:45px;">
          <div class="media-body">
            <text><strong>Jane Doe</strong></text><br>
            <text><small><i>Posted on February 20 2016</i></small></text>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>  
      </div>
    </div>
    -->

  </div>
</div>