<div class="row m-3 mt-4">
    <div class="container">
        <div class="card mr-5 ml-5 p-3" >
            <div class="card-header bg-white border-bottom">
                <strong>MEMBERS</strong>
            </div>
            <div class="card-body">
                    <!-- Rekursif -->
                {% for member in members %}
                <div class="media pb-4">
                    <img src="{{ url_for('static',filename='images/Group 1099.png') }}" class="mr-3 bg-dark" style="width:45px;">
                    <div class="media-body">
                      <text><strong>{{ member.name }}</strong></text><br>
                       <span class="badge badge-pill badge-info">{{ member.role }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>       
    </div>
  </div>
</div>