<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8"> 
      <div class="card mx-auto" style="padding: 10px 50px 50px 50px;">
        <div class="container card-body">
          <h5 style="font-size: 17px;"><b>MEMBERSHIP</b></h5>    
          <div class="m-0 p-0">
            <!-- section basic -->
            <div class="row p-4 card_shadow" style="background-color: rgba(189, 219, 224,0.4); margin-bottom: 12px; border-radius: 5px; ">
              <div class="col-3">

                <div class="center"> 
                  <img class="img-fluid" src="{{ url_for('static',filename='images/diamond_grey.png') }}" style="width: 80px;border-radius: 50%;padding-top: 0px;"> <!-- Profil User -->
                </div>
              </div>
              <div class="col-6">
                <h5 style="font-size: 17px;"><b>MEMBERSHIP BASIC</b></h5>
                <p style="margin-bottom: 4px;">1 Super Admin</p>
                <p style="margin-bottom: 4px;">Maximum Post 3/week</p>
                <p style="margin-bottom: 4px;">Maximum member 30</p>
              </div>
              <div class="col-3">
                <div class="center">
                  <a href="{{ url_for('payment') }}" style="color: #0075a7;"><b> FREE</b></a>
                  
                </div>
              </div>
            </div>
            <!-- section standard -->
            <div class="row p-4 card_shadow" style="background-color: rgba(10, 207, 131,0.25); margin-bottom: 12px; border-radius: 5px; ">
              <div class="col-3">

                <div class="center">
                  <img class="img-fluid" src="{{ url_for('static',filename='images/diamond_green.png') }}" style="width: 80px;border-radius: 50%;padding-top: 0px;"> <!-- Profil User -->
                </div>
              </div>
              <div class="col-6">
                <h5 style="font-size: 17px;"><b>MEMBERSHIP STANDARD</b></h5>
                <p style="margin-bottom: 4px;">2 Super Admin</p>
                <p style="margin-bottom: 4px;">Post everyday</p>
                <p style="margin-bottom: 4px;">Maximum member 300</p>
              </div>
              <div class="col-3">
                <div class="center">
                  <a href="{{ url_for('payment') }}" style="color: #0075a7;"><b> RP99.999/MONTH</b></a>
                  
                </div>
              </div>
            </div>
            <!-- section premium -->
            <div class="row p-4 card_shadow" style="background-color: rgba(248, 204, 255,0.36); margin-bottom: 40px; border-radius: 5px; ">
              <div class="col-3">

                <div class="center">
                  <img class="img-fluid" src="{{ url_for('static',filename='images/diamond_purple.png') }}" style="width: 80px;border-radius: 50%;padding-top: 0px;"> <!-- Profil User -->
                </div>
              </div>
              <div class="col-6">
                <h5 style="font-size: 17px;"><b>MEMBERSHIP PREMIUM</b></h5>
                <p style="margin-bottom: 4px;">3 Super Admin</p>
                <p style="margin-bottom: 4px;">Post anytime</p>
                <p style="margin-bottom: 4px;">Maximum member 1000</p>
              </div>
              <div class="col-3">
                <div class="center">
                  <a href="{{ url_for('payment') }}" style="color: #0075a7;"><b> RP219.999/MONTH</b></a>
                  
                </div>
              </div>
            </div>

             
        <center>
          <button type="submit" class="btn btn-active" style="background-color: #f7951e;">Next</button>
        </center>
          </div>
        </div>
      </div> 
  </div>
  <div class="col-lg-2"></div>
</div>