<!doctype html>
<html lang="en">
    <body>
        <div class="card m-3">
            <div class="row m-3">
              <div class="col-lg-6">
                  <div class="info">
                    {{about}}
                    <button id="asd">edit</button>
                  </div>
                  <div class="edit" style="display: none">
                    <form method='POST' action="{{ url_for('ubahDeskripsi') }}">
                        <input type="text" hidden name="idKomunitas" value="{{idKomunitas}}"/>
                        <textarea type="text" id="description" name="description" rows="4" cols="50"> {{about}} </textarea>
                        <button type="submit">Ubah</button> 
                        <button type="button" id="cancel">batal</button>
                    </form>
                  </div>
              </div>
            </div>
        </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    $('#asd').click(function(){
        $('.info').css('display', 'none')
        $('.edit').css('display', 'block')
    });
    $('#cancel').click(function(){
        $('.info').css('display', 'block')
        $('.edit').css('display', 'none')
    });
    
</script>
