<!doctype html>
<html lang="en">
    <body>
        <div class="card m-3">
            <div class="row m-3">
              <div class="col-lg-6">
                  <form method="POST" action="{{url_for('createPost')}}">
                      <textarea name="post" id="post" placeholder="Type something to post..." rows="4" cols="50"></textarea>
                      <input type="text" hidden name="idKomunitas" value="{{idKomunitas}}"/>
                      <button type="submit" >Post</button>
                  </form>
              </div>
            </div>
        </div>
        {% for post in posts %}
        <div class="card m-3">
            <div class="row m-3">
              <div class="col-lg-6">
                {{post.name}}
                {{post.created_at}}
                {{post.post}}
              </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>