<!-- <div class="container-fluid footer">

</div>  -->

<footer class="footer">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <img src="{{ url_for('static',filename='images/logo-remove-background.png') }}" height="100px">
          <div class="container">
            <ul class="list-unstyled">
              <li class="mb-2">Plaza Indonesia, Lt. 7</li>
              <li class="mb-2">Jakarta, Indonesia</li>
              <li class="mb-2">Currently v5.1.3.</li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>About Us</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">Profil Komuniku</a></li>
            <li class="mb-2"><a href="">Join As Member</a></li>
            <li class="mb-2"><a href="">Join as Community</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Event</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">Event Community</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Bantuan</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/">FAQ</a></li>
            <li class="mb-2"><a href="/">How to Join</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">contactus@komuniku.co.id</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>