<!doctype html>
<html lang="en">
  <head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      
      .btn-danger{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: red;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
    </style>
  </head>
  
  <body> 
    <header class="navbar navbar-expand-lg navbar-light border-bottom">
      <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='images/logo-remove-background.png') }}" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('dashboardHome') if current_user.is_authenticated else '#' }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
          {% if not current_user.is_authenticated %}
          <a class="btn my-2 my-sm-0 btn-active" style="width:200px" href="{{ url_for('login') }}" role="button">Login</a>
          {% else %}
          <a class="btn my-2 my-sm-0 btn-danger" style="width:200px" href="{{ url_for('logout') }}" role="button">Logout</a>
          {% endif %}
        </div>
    </header>


  
   </body>
</html>