 
  <div class="col pt-5" style="text-align: center;">
    <div style="margin: auto;  
    height: 200px;
    width: 200px;
    position: relative;">

      <div style="background-color:black; padding: 10px; width: 140px; height: 200px; position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);" >
        
        <img class="img-fluid" src="{{ url_for('static',filename='images/user.png') }}" style="width: 80px;border-radius: 50%;padding-top: 30px;"> <!-- Profil User -->
      </div>
    </div>
  </div> 
  <div style="clear: both; position: relative;"></div>
  
  <div> 
    <p style="text-align: center;"> <b>{{name}}</b></p>
  </div>  
  <a class="nav-link" href="#" style="text-align: center;">
    <strong>MY COMMUNITY</strong>
  </a>  