<!doctype html>
<html lang="en">
  <head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
    </style>
  </head>
  
  <body>   
    {% include 'navbar/navbar.html' %}
    <div class="container">
      <div><h1>Hello Guys!</h1></div>
    </div>

    <footer class="footer bd-footer">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <img src="{{ url_for('static',filename='images/logo-remove-background.png') }}" height="100px">
            <div class="container">
              <ul class="list-unstyled">
                <li class="mb-2">Plaza Indonesia, Lt. 7</li>
                <li class="mb-2">Jakarta, Indonesia</li>
                <li class="mb-2">Currently v5.1.3.</li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>About Us</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="">Profil Komuniku</a></li>
              <li class="mb-2"><a href="">Join As Member</a></li>
              <li class="mb-2"><a href="">Join as Community</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Event</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="">Event Community</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Bantuan</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/">FAQ</a></li>
              <li class="mb-2"><a href="/">How to Join</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="">contactus@komuniku.co.id</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>