<!doctype html>
<html lang="en">
    <title>Detail Komunitas | Komuniku</title>
    <body>
        {% include 'navbar/navbar.html' %}
        <div class="row">
            <div class="col-md-3">
                    {% include 'navbar/side_navbar.html' %}
            </div>
            <div class="col-md-8 mt-3">
                <div class="row">
                    <div class="container">
                        <center>
                            <div id='banner' class="mt-7"></div>
                        </center>

                        <img class="img-fluid rounded mt-5" src="{{ url_for('static',filename='images/basket.jpg') }}" style="max-width: 100px;">
                        <strong>{{komunitas.name}}</strong>
                        <p>{{komunitas.description}}</p>
                        <p>{{komunitas.city}}</p>
                        <p>{{ 'Public' if komunitas.is_public else 'Private' }}</p>

                        {% if not isaMember %}
                            {{url_for('joinKomunitas')}}
                            <p>{{ komunitas.id }}</p>
                            <form action="{{url_for('joinKomunitas')}}" method="POST">
                                <input type="text" name="id_komunitas" value="{{ komunitas.id }}" hidden />
                                <button type="submit" class="primary">Join</button>
                            </form>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    #banner{
        width: 100%;
        height: 120px;
        color: blue;
        background-color:grey;
    }
    .sidenav {
        height: 100%;
        width: 210px;
        position: fixed;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 8px 6px 16px;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
</style>