<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Join Us | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
      .container{
        font: 'Open Sans';
      }
      .join-us-1{
        font-family: 'Mada';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 16px;
        color: #0075A7;
      }
      .join-us-2{
        font-family: 'Mada';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #0075A7;
      }
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <center class="col-lg-12">
          <div class="col p-3">
            <a href="{{ url_for('index') }}"><img class="img-fluid" src="{{ url_for('static',filename='images/logo-remove-background.png') }}" style="max-width: 200px;"></a>
          </div>
          <div class="col p-3">
            <text class="join-us-1">Let's join us and feel fun here</text>
          </div>
        </center>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mx-auto m-5 p-5">
            <center>
              <text class="row join-us-2">Click the button below if you want to join with us as personal/individual</text><br><br>
              <a class="btn my-2 my-sm-0 btn-active" href="{{ url_for('signupMember') }}" role="button">Join as Member</a>
            </center>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mx-auto m-5 p-5">
            <center>
              <text class="row join-us-2">Click the button below if you want to join with us as the community</text><br><br>
              <a class="btn my-2 my-sm-0 btn-active" href="{{ url_for('signupCommunity') }}" role="button">Join as Community</a>
            </center>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="container" style="text-align: center;">Already have account? <a href="{{url_for('login')}}">Login!</a></div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>