<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  />
    <title>Login | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .body {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
      .icon-div {
        position: relative;
        width: 100%;
      }
      i {
        position: absolute;
        right: 15px;
        bottom: 12px;
      }
    </style>
  </head>
  <body>

    <header>
    </header>
    <div class="container">
      <div class="row">
        <div class="col p-3">
          <center><a href="{{ url_for('index') }}"><img class="img-fluid" src="{{ url_for('static',filename='images/logo-remove-background.png') }}" style="max-width: 200px;"></a></center>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form action="/login" method="post" class="form-box container">
            <div class="card mx-auto h-75">
              <div class="container card-body w-75 pt-5 pb-5">
                {% block content %}
                  <div class="container">
                      {% for message in get_flashed_messages() %}
                      <div class="alert alert-warning">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          {{ message }}
                      </div>
                      {% endfor %}
                      {% block page_content %}{% endblock %}
                  </div>
                {% endblock %}
                <div class="form-group icon-div">
                  <label for="inputEmail">Email</label>
                  <input type="email"  name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                  <br>
                  <label for="inputPassword">Password</label>
                  <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                  <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
                </div>
                <br>
                <center>
                  <button type="submit" class="btn btn-active">Login</button>
                  <text>Don't have account? <a href="{{ url_for('joinus') }}">Join Us!</a></text>
                  <br>
                  <text><a style="color: red;" href="{{ url_for('forgetPassword') }}"><b>Forgot Password?</b></a></text>
                </center>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
    <footer>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#inputPassword');
 
  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });
</script>