<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #0075a7;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .body {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;

        
      }

      .center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.card_shadow{
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.82);
-moz-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.82);
box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.82);
}
    </style>
  </head>
  <body>

    <header>
    </header>
    <div class="container">
      <div class="row">
        <div class="col p-5">
            <center><img class="img-fluid" src="{{ url_for('static',filename='images/logo.jpeg') }}" style="max-width: 200px;">            </center>
        </div>
      </div> 

      
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"> 
            <div class="card mx-auto" style="padding: 10px 50px 50px 50px;">
              <div class="container card-body">
                <h5 style="font-size: 17px;"><b>MEMBERSHIP</b></h5>    
                <div class="m-0 p-0">
                  <!-- section basic -->
                  <div class="row p-4 card_shadow" style="background-color: rgba(189, 219, 224,0.4); margin-bottom: 12px; border-radius: 5px; ">
                    <div class="col-3">

                      <div class="center"> 
                        <img class="img-fluid" src="{{ url_for('static',filename='images/diamond_grey.png') }}" style="width: 80px;border-radius: 50%;padding-top: 0px;"> <!-- Profil User -->
                      </div>
                    </div>
                    <div class="col-6">
                      <h5 style="font-size: 17px;"><b>MEMBERSHIP BASIC</b></h5>
                      <p style="margin-bottom: 4px;">1 Super Admin</p>
                      <p style="margin-bottom: 4px;">Maximum Post 3/week</p>
                      <p style="margin-bottom: 4px;">Maximum member 30</p>
                    </div>
                    <div class="col-3">
                      <div class="center">
                        <a href="{{ url_for('payment') }}" style="color: #0075a7;"><b> FREE</b></a>
                        
                      </div>
                    </div>
                  </div>
                  <!-- section standard -->
                  <div class="row p-4 card_shadow" style="background-color: rgba(10, 207, 131,0.25); margin-bottom: 12px; border-radius: 5px; ">
                    <div class="col-3">

                      <div class="center">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/diamond_green.png') }}" style="width: 80px;border-radius: 50%;padding-top: 0px;"> <!-- Profil User -->
                      </div>
                    </div>
                    <div class="col-6">
                      <h5 style="font-size: 17px;"><b>MEMBERSHIP STANDARD</b></h5>
                      <p style="margin-bottom: 4px;">2 Super Admin</p>
                      <p style="margin-bottom: 4px;">Post everyday</p>
                      <p style="margin-bottom: 4px;">Maximum member 300</p>
                    </div>
                    <div class="col-3">
                      <div class="center">
                        <a href="{{ url_for('payment') }}" style="color: #0075a7;"><b> RP99.999/MONTH</b></a>
                        
                      </div>
                    </div>
                  </div>
                  <!-- section premium -->
                  <div class="row p-4 card_shadow" style="background-color: rgba(248, 204, 255,0.36); margin-bottom: 40px; border-radius: 5px; ">
                    <div class="col-3">

                      <div class="center">
                        <img class="img-fluid" src="{{ url_for('static',filename='images/diamond_purple.png') }}" style="width: 80px;border-radius: 50%;padding-top: 0px;"> <!-- Profil User -->
                      </div>
                    </div>
                    <div class="col-6">
                      <h5 style="font-size: 17px;"><b>MEMBERSHIP PREMIUM</b></h5>
                      <p style="margin-bottom: 4px;">3 Super Admin</p>
                      <p style="margin-bottom: 4px;">Post anytime</p>
                      <p style="margin-bottom: 4px;">Maximum member 1000</p>
                    </div>
                    <div class="col-3">
                      <div class="center">
                        <a href="{{ url_for('payment') }}" style="color: #0075a7;"><b> RP219.999/MONTH</b></a>
                        
                      </div>
                    </div>
                  </div>

                   
              <center>
                <button type="submit" class="btn btn-active" style="background-color: #f7951e;">Next</button>
              </center>
                </div>
              </div>
            </div> 
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <footer>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>