<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  />
    
    <title>Forget Password | Komuniku</title>
    
    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .body {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
      .icon-div {
        position: relative;
        width: 100%;
      }
      i {
        position: absolute;
        right: 15px;
        bottom: 12px;
      }
    </style>
  </head>
  <body>
 
    <div class="container">
      <div class="row">
        <div class="col p-5">
            <center><img class="img-fluid" src="{{ url_for('static',filename='images/logo.jpeg') }}" style="max-width: 200px;"></center>
        </div>
 
      </div>
      <div>
        <p style="text-align: center; color: #0075A7">Enter your new password</p>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form action="/newPassword" method="post" class="form-box container">
            <div class="card mx-auto" style="padding: 0px 10px 0px 10px;">
              <div class="container card-body m-0" style="padding: 30px 10px 0px 10px;">
                {% block content %}
                  <div class="container">
                      {% for message in get_flashed_messages() %}
                      <div class="alert alert-warning">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          {{ message }}
                      </div>
                      {% endfor %}
                      {% block page_content %}{% endblock %}
                  </div>
                {% endblock %}
                <div class="form-group icon-div">
                  <div class="form-group icon-div">
                    <label for="inputPassword">Password</label>
                    <input type="password"  name="password1" class="form-control" id="inputPassword1" placeholder="Enter Password">
                    <i class="far fa-eye" id="togglePassword1" style="cursor: pointer"></i>
                  </div>
                  <div class="form-group icon-div">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="inputPassword2" placeholder="Confirm Password">
                    <i class="far fa-eye" id="togglePassword2" style="cursor: pointer"></i>
                  </div>
                </div>
                <br> 
                <br>
              </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>

    <div style="padding-top: 20px;">
      <center>
        <button type="submit" class="btn btn-active">Save</button>
      </center>
    </div>
  </form>
    <footer>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html> 

<script>
  const togglePassword1 = document.querySelector('#togglePassword1');
  const password1 = document.querySelector('#inputPassword1');
 
  togglePassword1.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });
  const togglePassword2 = document.querySelector('#togglePassword2');
  const password2 = document.querySelector('#inputPassword2');
 
  togglePassword2.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });
</script>