<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>Login | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #0075a7;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .body {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;

        
      }

      .center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.card_shadow{
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.82);
-moz-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.82);
box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.82);
}
    </style>
  </head>
  <body>

    <header>
    </header>
    <div class="container">
      <div class="row">
        <div class="col p-5">
            <center><img class="img-fluid" src="{{ url_for('static',filename='images/logo.jpeg') }}" style="max-width: 200px;">            </center>
        </div>
      </div> 

      
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"> 
            <div class="card mx-auto" style="padding: 10px 50px 50px 50px;">
              <div class="container card-body">
                <h5 style="font-size: 17px;"><b>PAYMENT</b></h5>   
                <div>
                    
                  <h5 style="font-size: 17px; padding-top: 30px;"><b>MEMBERSHIP STANDARD</b></h5>   
                  <div style="padding-left: 30px;"> 
                    <div class="row">
                      <div class="col-4"> 
                        <p style="margin-bottom: 4px;">Biaya</p>
                        <p style="margin-bottom: 4px;">Jumlah Bulan</p>
                        <p style="margin-bottom: 4px; color: #0075A7;" >Total Harga</p>  
                      </div>
                      <div class="col-6">
                        <p style="margin-bottom: 4px;">Rp99.999</p>
                        <p style="margin-bottom: 4px;">1 Bulan</p>
                        <p style="margin-bottom: 4px; color: #0075A7;">Rp99.999</p>   
                      </div>
                    </div>
                  </div> 
                </div> 

                <div>
                    
                  <h5 style="font-size: 17px; padding-top: 30px;"><b>MEMBERSHIP STANDARD</b></h5>   
                  <div style=" "> 
                    <!-- bri -->
                    <div class="card">
                      <div class="card-body p-2">
                        <div class="row p-1" >
                          <div class="col-3">
                            <img class="img-fluid" src="{{ url_for('static',filename='images/bri.png') }}" style="width: 80px;padding-top: 10px; padding-left: 20px;"> <!-- Profil User -->
                    
                          </div>
                          <div class="col-6">
                            <p style="padding-top: 10px;">

                              Bank Transfer BRI
                            </p>
                          </div>
                          <div class="col-3">
                            <a style=" padding: 0px; margin: 0px; " href="{{ url_for('paymentConfirmation') }}"> 
                              <i class="fas fa-angle-double-right" style="font-size: 30px;padding-left: 30px; padding-top: 10px;"></i> 
                            </a>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <!-- bca -->
                    <div class="card">
                      <div class="card-body p-2">
                        <div class="row p-1" >
                          <div class="col-3">
                            <img class="img-fluid" src="{{ url_for('static',filename='images/bca.png') }}" style="width: 80px;padding-top: 10px; padding-left: 20px;"> <!-- Profil User -->
                    
                          </div>
                          <div class="col-6">
                            <p style="padding-top: 10px;">

                              Bank Transfer BCA
                            </p>
                          </div>
                          <div class="col-3">
                            <a style=" padding: 0px; margin: 0px; " href="{{ url_for('paymentConfirmation') }}"> 
                              <i class="fas fa-angle-double-right" style="font-size: 30px;padding-left: 30px; padding-top: 10px;"></i> 
                            </a>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <!-- bri -->
                    <div class="card">
                      <div class="card-body p-2">
                        <div class="row p-1" >
                          <div class="col-3">
                            <img class="img-fluid" src="{{ url_for('static',filename='images/mandiri.png') }}" style="width: 80px;padding-top: 10px; padding-left: 20px;"> <!-- Profil User -->
                    
                          </div>
                          <div class="col-6">
                            <p style="padding-top: 10px;">

                              Bank Transfer Mandiri
                            </p>
                          </div>
                          <div class="col-3">
                            <a style=" padding: 0px; margin: 0px; " href="{{ url_for('paymentConfirmation') }}"> 
                              <i class="fas fa-angle-double-right" style="font-size: 30px;padding-left: 30px; padding-top: 10px;"></i> 
                            </a>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <!-- bri -->
                    <div class="card">
                      <div class="card-body p-2">
                        <div class="row p-1" >
                          <div class="col-3">
                            <img class="img-fluid" src="{{ url_for('static',filename='images/bni.png') }}" style="width: 80px;padding-top: 10px; padding-left: 20px;"> <!-- Profil User -->
                    
                          </div>
                          <div class="col-6">
                            <p style="padding-top: 10px;">

                              Bank Transfer BNI
                            </p>
                          </div>
                          <div class="col-3">
                            <a style=" padding: 0px; margin: 0px; " href="{{ url_for('paymentConfirmation') }}"> 
                              <i class="fas fa-angle-double-right" style="font-size: 30px;padding-left: 30px; padding-top: 10px;"></i> 
                            </a>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <!-- bri -->
                    <div class="card">
                      <div class="card-body p-2">
                        <div class="row p-1" >
                          <div class="col-3">
                            <img class="img-fluid" src="{{ url_for('static',filename='images/gopay.png') }}" style="width: 80px;padding-top: 10px; padding-left: 20px;"> <!-- Profil User -->
                    
                          </div>
                          <div class="col-6">
                            <p style="padding-top: 10px;">

                              Transfer via Go-Pay
                            </p>
                          </div>
                          <div class="col-3">
                            <a style=" padding: 0px; margin: 0px; " href="{{ url_for('paymentConfirmation') }}"> 
                              <i class="fas fa-angle-double-right" style="font-size: 30px;padding-left: 30px; padding-top: 10px;"></i> 
                            </a>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
            </div> 
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <footer>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>