<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Sign Up as Member | Komuniku</title>

    <style>
      .btn-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 200px;
        height: 44px;
        background: #F7951E;        
        font-family: 'Open Sans';
        color: #FFFFFF;
        font-size: 18px;
      }
      .navbar{
        height: 76.67px;
        background-color: #FFFFFF;
        font-family: 'Mada';
        color: #000000;
        font-size: 18px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 273px;
        background-color: #FFFFFF;
        font-family: 'Open Sans';
        font-size: 18px;
        color: #000000;
      }
      .container{
        font: 'Open Sans';
      }
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col p-3">
          <center><a href="{{ url_for('index') }}"><img class="img-fluid" src="{{ url_for('static',filename='images/logo-remove-background.png') }}" style="max-width: 200px;"></a></center>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form action="/signupMember" method="post" class="form-box container">
            <div class="card mx-auto h-75">
              <div class="container card-body w-75 pt-5">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email"  name="email" class="form-control" id="inputEmail">
                </div>
                <div class="form-group">
                  <label for="inputUsername">Name</label>
                  <input type="text"  name="name" class="form-control" id="inputUsername">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password"  name="password" class="form-control" id="inputPassword">
                </div>
                <div class="form-group">
                  <label for="inputConfirmPassword">Confirm Password</label>
                  <input type="password"  name="confirmpassword" class="form-control" id="inputConfirmPassword">
                </div>
                <br>
              <center>
                <button type="submit" class="btn btn-active">Join As Member</button>
                <div class="container p-2" style="text-align: center;">Already have account? <a href="{{url_for('login')}}">Login!</a></div>
              </center>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>