<!doctype html>
<html lang="en">
    <title>Test | Komuniku</title>
    <body>
        {% include 'navbar/navbar.html' %}
        <h5>asd</h5>
        <h5>asdads</h5>
        {{komunitas}}
        {% for val in komunitas %}
            <h5> {{ val.name }} </h5>
        {% endfor %}
        <form action="">
        </form>
    </body>
</html>